<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ConexionSQLServer"
            connectionString="Data Source=172.22.10.31;Initial Catalog=asistencia;Persist Security Info=True;User ID=sa;Password=XAR$K24MM_irtp"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>